<h1>Updated Employee</h1>
<form action="/updateEmp" method="POST">
<input type = "hidden" name="id" value="{{data.id}}"/>
    <div class="form-group">
        <label>Full Name</label>
        <input type="text" class="form-control" name="name" placeholder="Enter the Name" value ="{{data.name}}"/>
    </div>
        <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" name="email" placeholder="Enter the E-mail Address" value ="{{data.email}}"/>
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" name="password" placeholder="Enter the Password" value ="{{data.password}}"/>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Mobile</label>
            <input type="text" class="form-control" name="phone" placeholder="Enter the Mobile Number" value ="{{data.phone}}"/>
        </div>
        <div class="form-group col-md-6">
            <label>City</label>
            <input type="text" class="form-control" name="city" placeholder="Enter the City" value ="{{data.city}}"/>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary btn-block btn-lg"  name="submit"/>
    </div>
</form>